name: Deploy Cloud Computing Package

on:
  workflow_run:
    workflows:
      - Automation-Tests
    branches:
      - main
    types:
      - completed

permissions:
  contents: read

jobs:
  deploy:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.node-version'

      - name: Install dependencies
        run: npm ci

      - name: Build cloud-computing package
        run: npm run build --workspace=@weather/cloud-computing

      - name: Package cloud-computing artifact
        run: npm pack --workspace=@weather/cloud-computing

      - name: Upload cloud-computing package artifact
        uses: actions/upload-artifact@v4
        with:
          name: cloud-computing-package
          path: "*.tgz"
