name: Deploy Tempest Weather Store Lib

on:
  push:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::926898703023:role/GitHubTempestCfnDeployRole
          aws-region: eu-west-2

      - name: Install SAM CLI
        run: pip install aws-sam-cli

      - name: Show repo structure
        run: |
          ls -R .

      - name: Build SAM application
        run: |
          sam build \
            --template-file packages/store-observations/template.yaml

      - name: Deploy SAM application
        run: |
          sam deploy \
            --template-file .aws-sam/build/template.yaml \
            --stack-name tempest-weather-store-lib \
            --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --debug